<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->
    <h2>Owners</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <td style="width: 150px;">Id</td>
                <td style="width: 150px;">First Name</td>
                <td style="width: 150px;">Last Name</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">Id</td>
                <td th:text="${owner.firstName}">First Name</td>
                <td th:text="${owner.lastName}">Last Name</td>
            </tr>
        </tbody>
    </table>
</body>
</html>