<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->
<h2>Veterinarians</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <td style="width: 150px;">Id</td>
        <td style="width: 150px;">First Name</td>
        <td style="width: 150px;">Last Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">Id</td>
        <td th:text="${vet.firstName}">First Name</td>
        <td th:text="${vet.lastName}">Last Name</td>
    </tr>
    </tbody>
</table>

</body>
</html>